.store-item{
	width: 100%;
	padding: 20px 0;
	font-size: 0;

	li{
		display: inline-block;
		vertical-align: middle;
		width: 200px;
		font-size: 15px;
		color: #404040;
		text-align: center;

		.pic{
			width: 200px;
		}

		p{
			text-align: center;
		}

		.reduce-btn,
		.add-btn{
			display: inline-block;
			width: 50px;
			line-height: 30px;
			text-align: center;
			font-size: 20px;
			font-weight: bold;
			cursor: pointer;
		}

		.count-input{
			display: inline-block;
			width: 100px;
			line-height: 30px;
			text-align: center;
		}

		.settlement-btn{
			display: inline-block;
			width: 100px;
			line-height: 30px;
			font-size: 15px;
			color: #404040;
			text-align: center;
			cursor: pointer;
		}
	}
}